

    <div class="progress diversification">
      <h3>
        {{title}}
      </h3>
      <div>
        <p class="num">{{sign}}
          <span class="onlynum" data-inc-decimal="0">
            {{digit}}
          </span>
          {{percentage}}
        </p>
        <p >
          {{data}}
                </p>
      </div>
      </div>

    <!-- <h1>counter</h1> -->
    


    <!-- <div class="numbers">
      <h3>
      BY THE
      NUMBERS: Private Sector Operations
      </h3>
      <div class="numbergroup">
      <div>
      <p class="num">$<span class="onlynum" data-inc-decimal="1">4.5</span>&nbsp;B</p>
      <p>COMMITTED
      </p>
      </div>
      <div class="sub">
      <p class="num">$<span class="onlynum" data-inc-decimal="1">2.9</span>&nbsp;B</p>
      <p>COVID‑19 <br>RESPONSE
      </p>
      </div>
      <div>
      <p class="num">$<span class="onlynum" data-inc-decimal="1">2.3</span>&nbsp;B</p>
      <p>DISBURSED
      </p>
      </div>
      <div>
      <p class="num">$<span class="onlynum" data-inc-decimal="1">5.3</span>&nbsp;B</p>
      <p>COFINANCED
      </p>
      </div>
      </div>
      </div> -->
<!-- <div class="row text-center">
    <div class="col">
    <div class="counter">
<i class="fa fa-code fa-2x"></i>
<h2 class="timer count-title count-number" data-to="86"% data-speed="1500"></h2>
<p class="count-text ">Our Customer</p>
</div> -->
