

    <div class="progress1 diversification">
      <h3>
        {{title}}
      </h3>
      <div>
        <p class="num">{{sign}}
          <span class="onlynum" data-inc-decimal="0" id="count1">
            {{digit}}
          </span>
          {{percentage}}
        </p>
        <p >
          {{data}}
                </p>
      </div>
      </div>
     


      <div class="progress op0">
        <h3>
          {{title}}
        </h3>
       <div>
        <p class="num">{{sign}}<span class="onlynum" data-inc-decimal="2" >{{digit}}</span> {{percentage}}
        </p><p>
          {{data}}
        </p>
        </div>
    </div>


    <div class="numbers">
      <h3>
        {{title}}
      </h3>
      <div class="numbergroup">
      <div>
      <p class="num">{{sign}}<span class="onlynum" data-inc-decimal="1">{{digit}}</span>&nbsp;B</p>
      <p>  {{data}}
      </p>
      </div>
      <div class="sub">
      <p class="num">{{sign}}<span class="onlynum" data-inc-decimal="1">{{digit}}</span>&nbsp;B</p>
      <p>{{data}}
      </p>
      </div>
      <div>
      <p class="num">{{sign}}<span class="onlynum" data-inc-decimal="1">{{digit}}</span>&nbsp;B</p>
      <p>{{data}}
      </p>
      </div>
      <div>
      <p class="num">{{sign}}<span class="onlynum" data-inc-decimal="1">{{digit}}</span>&nbsp;B</p>
      <p>{{data}}
      </p>
      </div>
      </div>
      </div>

