
<div class="progress diversification">
    <h3>
  {{title}}
    </h3>
    <div>
    <p class="num">{{currency}}<span class="onlynum" data-inc-decimal="0">{{money}}</span>{{letter}}</p>
    <p>
   {{data}}
    </p>
    </div>
    


    <!-- <div class="numbers">
      <h3>
      BY THE
      NUMBERS: Private Sector Operations
      </h3>
      <div class="numbergroup">
      <div>
      <p class="num">$<span class="onlynum" data-inc-decimal="1">4.5</span>&nbsp;B</p>
      <p>COMMITTED
      </p>
      </div>
      <div class="sub">
      <p class="num">$<span class="onlynum" data-inc-decimal="1">2.9</span>&nbsp;B</p>
      <p>COVID‑19 <br>RESPONSE
      </p>
      </div>
      <div>
      <p class="num">$<span class="onlynum" data-inc-decimal="1">2.3</span>&nbsp;B</p>
      <p>DISBURSED
      </p>
      </div>
      <div>
      <p class="num">$<span class="onlynum" data-inc-decimal="1">5.3</span>&nbsp;B</p>
      <p>COFINANCED
      </p>
      </div>
      </div>
      </div> -->