<div style="width: 70%;display: inline-block;">
<div *ngFor="let data of homeData" style="width: 50%; display: inline-block;">
        <app-card (click)="goToReport()" *ngIf="data.type === 'card'" [data]="data.data" [image]="data.img" [id]="data.id"></app-card>
    </div>
</div>

<div style="display: inline-block; width: 30%; vertical-align: top; text-align: center;">
    <div *ngFor="let data of homeData">
        <app-side-menu *ngIf="data.type === 'small-card'" [data]="data.data"></app-side-menu>
    </div>
</div>

