
<div class="homegroup">

    <div class="imagereplace">
        <h1>
          Asian Development Bank Annual Report 2020
        </h1>
      </div>

    <div class="smallgrid">
        <div *ngFor="let data of homeData">
            <app-side-menu *ngIf="data.type === 'small-card'" [data]="data.data"></app-side-menu>
        </div>

        <div>
            <div class="financialgroup" *ngFor="let data of homeData">
            <app-counter-card *ngIf="data.type === 'counter-card'" [data]="data.data" [currency]="data.currency" [money]="data.money" [letter]="data.letter"></app-counter-card>
        </div>
        </div>
    </div>

    <div class="maingrid">
    <div  *ngFor="let data of homeData" style="width: 50%; display: inline-block;">
            <app-card *ngIf="data.type === 'card'" [data]="data.data" [image]="data.img" [content]="data.content"></app-card>
        </div>
        <div class="extralinks">
        <app-appendixes></app-appendixes></div>
    </div>
    
    
</div>

<div>
    <app-menu-bar></app-menu-bar>
</div>