<div class="complexheader regions">
    <p class="chapter">chapter 2</p>
    <h2>
      REGIONS
    </h2>
  </div>
  <div class="regionsgroup">
    <div class="regionsbox" (click)="goToRegions(data.id)" *ngFor="let data of chapter2Data">
      <div class="regionsimage">
        <img [src]="data.imageUrl">
      </div>
      <div class="regionstext">
        <p class="regionsfull">
          {{data.title}}
        </p>
        <p class="regionsblurb">
          {{data.content}}
        </p>
      </div>
    </div>
  </div>

<div>
    <app-menu-bar></app-menu-bar>
</div>

  <!--  -->
  <!--  -->